@model GameOfLife.Web.Models.GameSettingsModel
@{
    ViewBag.Title = "Game Of Life";
}
@section head
{
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" />
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/gameoflife.js")" type="text/javascript"></script>
}
<div id="dialog" style="display: none">
    <div id="options">
        @Html.EditorForModel()
    </div>
    <div>
        <span id="output"></span>
    </div>
</div>
